---
---

<section class='mb-8'>
	<div class='mb-4'>
		<h1
			class='font-extrabold text-4xl md:text-6xl tracking-tight pt-4 pb-2 overflow-hidden'
		>
			<span
				class='bg-gradient-to-br from-[#fb923c] via-[#f97316] to-[#ea580c] dark:from-primary-main dark:via-primary-main dark:to-primary-main bg-clip-text text-transparent'
			>
				Yeabsira Mekuria
			</span>
		</h1>
		<p class='text-2xl pb-4'>Full Stack Developer | Blogger</p>
	</div>
	<div>
		<p class='mb-5'>
			Welcome to my blog, on this blog I will share my knowledge on different
			technologies but I mostly interested on JavaScript <span
				class='bg-gradient-to-br from-[#fb923c] via-[#f97316] to-[#ea580c] dark:from-primary-main dark:via-primary-main dark:to-primary-main bg-clip-text text-transparent font-bold'
				>( react, node, nextjs, typescript and others )</span
			> related staffs and I also share technical staff.
		</p>
		<div
			class='max-[375px]:hidden justify-self-end py-2 flex items-center content-center text-text-bold'
		>
			<a
				class='unset text-4xl ml-0 hover:text-text-link'
				href='https://github.com/flexdinesh/blogster'
			>
				<i
					class='fa-brands fa-telegram'
					aria-hidden='true'
					title='Contact me via telegram'></i>
				<span class='fa-sr-only'>Contact me on Telegram</span>
			</a>
			<p class='text-center ml-2'>
				<code class='py-3 px-2'>Contact Me</code>
			</p>
		</div>
	</div>
</section>
